/*background colors*/
.color-o-l{
	background: #FCFBED;
}
.color-b-252{
	background : rgb(237, 237, 252);
}
.color-b-254{
	background : #FAFAFF;
}
.color-y-250{
	background: #FAFAC4;
}
.color-r-250{
	background : #FDF5F4;
}
.color-g-250{
	background: #F1FDEF;
}
.color-o-250{
	background: #FCF7ED;
}
.color-g-250{
	background : #F7F7F7;
}
.color-g-254{
	background :#ECFDD5;
}
.color-g-255{
	background: #F8FFEF;
}
.color-b-l{
	background: #FCFCFC;
}
.color-r-removed{
	background: rgba(255, 247, 247, 1.0);
}
/*border colors*/
.border-color-g253{
	border : 1px dashed #CDE4C0;
}

/*fonts*/
.font-color-l-blue{
	color : rgb(0, 127, 177);
}
.font-color-r{
	color : #DD1E0D;;
}
.font-color-b-l{
	color : #4E4E4E;
}
.font-color-b-180{
	color : rgb(118, 167, 196);
}
