::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-thumb {
	background : rgb(255, 255, 255);
	border-left : 1px solid #ddd;
}
::-webkit-scrollbar-track {
	background-color: rgb(163, 163, 163);
	width : 0;
}
.white{
	background: white;
}
.bold{
	font-weight: bold;
}
.pointer{
	cursor: pointer;
}
.row{
	background: white;
	border-radius: 3px;
}
.align-center{
	text-align: center;
}
.align-initial{
	text-align: initial;
}
.align-right{
	text-align: right;
}
.align-left{
	text-align: left;
}
.vertical-align-m{
	vertical-align: middle;
}
.hr-dashed{
	border-bottom : 1px dashed #ddd;
}
.inline{
	display: inline-block;
}
.block{
	display : block;
}
.hide{
	display : none;
}
.float-none{
	float :none;
}
.clearfix{
	clear : both;
}
.pad{
	padding : 6px;
}
.pad-big{
	padding: 12px;
}
.pad-top{
	padding-top : 20px;
}
.pad-bottom{
	padding-bottom : 20px;
}
.pad-tb{
	padding-top : 20px;
	padding-bottom: 20px;
}
.right{
	float : right;
}
.left{
	float : left;
}
.field{
	padding:10px 20px;
}
.line-after-big{
	margin-bottom : 20px;
}
.line-before-big{
	margin-top : 20px;
}
.line-after{
	margin-bottom : 10px;
}
.line-before{
	margin-top : 10px;
}
.shadow{
	box-shadow: 3px 4px 11px rgba(12, 12, 12, .04);
	border: 1px solid #D9D9D9;
}
.margin-top-5{
	margin-top : 5px;
}
.pad-right{
	padding-right : 5px;
}
.pad-right-big{
	padding-right: 20px;
}
.pad-left-big{
	padding-left : 20px;
}
.pad-left{
	padding-left: 5px;
}
.margin-left{
	margin-left : 10px;
}
.margin-right{
	margin-right: 10px;
}
.easy{
	font-weight: normal;
}
.center{
	display: block;
	margin: 0 auto;
}
.font-gray-bold{
	color : gray;
	font-weight: bold;
}
.no-bg-color{
	background : initial;
	background : none;
}
.border-b-252{
	border: 2px dashed #CDCDFF;
}

.line-height-2{
	line-height: 2;
}

.height-full{
	height : 100px;
}

.font-size-50{
	font-size: 50px;
}
.font-size-18{
	font-size : 18px;
}
.font-size-15{
	font-size : 15px;
}
.font-size-13{
	font-size : 13px;
}
.font-size-12{
	font-size : 12px;
}
.font-size-11{
	font-size : 11px!important;
}
.font-size-1em{
	font-size : 1.0em;
}

.hover-white:hover{
	background: white;
}
.user-queries-page{
	min-height : 300px;
}

.margin-out-20{
	margin-left : -20px;
	margin-right : -20px;
}

.min-height-400{
	min-height: 400px;
}
.min-height-300{
	min-height: 300px;
}
.min-height-none{
	min-height: 0;
}

.border-right-6px{
	border-right: 6px solid gray;
}

.pad-15-10{
	padding: 15px 10px;
}

/*radio button*/
.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}


.big-checkbox + label {
	padding: 18px;
}

.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}

.tag {
	font-family: Arial, sans-serif;
	width: 200px;
	position: relative;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
}

.radio-1 {
	width: 193px;
}

.button-holder {
	float: left;
}

/* RADIO */

.regular-radio {
	display: none;
}

.regular-radio + label {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}

.regular-radio:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}

.regular-radio:checked + label {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.big-radio + label {
	padding: 16px;
}

.big-radio:checked + label:after {
	width: 24px;
	height: 24px;
	left: 4px;
	top: 4px;
}


